{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary" role="button">Edit</a>
    <a href="/users/{{user.id}}/delete" class="btn btn-danger" role="button">Delete</a>
    <h1>Posts</h1>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {%endfor%}
    </ul>
    <a href="/users/{{user.id}}/posts/new" class="btn btn-primary" role="button">Add Post</a>
    
    </div>
{% endblock %}