{% extends 'base.html' %}
{% block title %}New User{% endblock %}
{% block content %}
<div class="container">
<main role="main" class="inner cover">
<form action="/users/{{user.id}}/edit" method="POST">
  <legend>Edit a user</legend>
    <div class="mb-3">
      <label for="labelFirstName" class="form-label">First Name</label>
      <input type="text" value="{{user.first_name}}" class="form-control" name="inputFirstName" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="labelLastName" class="form-label">Last Name</label>
      <input type="text" value="{{user.last_name}}" class="form-control" name="inputLastName">
    </div>
    <div class="mb-3">
      <label for="labelURL" class="form-label">Image URL</label>
      <input type="text" value="{{user.image_url}}" class="form-control" name="inputURL">
    </div>
    
    <div class="float-right">
      <div class="container">
        <button type="submit" class="btn btn-warning">Submit</button>
      </div>
    </div>
  </form>
</main>
</div>
{% endblock %}