{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <form action="/users/{{user.id}}/posts/new" method="POST">
        <legend><h1>{{user.first_name}} {{user.last_name}}</h1></legend>
        
        <div class="row mb-6">
          <label for="inputTitleLabel" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10 ml-3">
            <input type="text" class="form-control" id="inputTitle" name="inputTitle">
          </div>
        </div>
        <div class="row mb-6">
          <label for="inputContentLabel" class="col-sm-2 col-form-label">Content</label>
          <div class="col-sm-10 ml-3">
            <textarea class="form-control" placeholder="Share Something!" name="inputContent" id="inputContent" style="height: 100px"></textarea>
          </div>
        </div>
        <div class="float-left">
            {% for tag in tags %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{tag.id}}" id="tag_names" name="tag_names">
                <label class="form-check-label" for="tag_names">
                    {{tag.name}}
                </label>
            </div>
            {%endfor%}
        </div>
        <div class="float-right">
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
        <div class="float-right">
            <div class="mt-3 mr-2">
                <a href="/users/{{user.id}}" class="btn btn-info" role="button">Cancel</a>
            </div>
        </div>
      </form>
</div>
{% endblock %}